# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Archives / exports
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

# Local tooling
*.log
